extends layout

block content
  #caduozi-index-not-login
    #index-custom-banner
      #index-header
        h1.title cDuozi
        h2.subtitle 分享技术笔记，促进技术发展
  
      #index-search-form
        form(method='GET', action='/search').index-search 
          #query
            text.input-text CaoDuoZi     
            input(type='text', name='q', placeholder='搜索笔记、技术书籍或话题').query
            button(type='submit' aria-label='提交').submit  Go
              #i.index-icon-search

      #note-scroll
        p 滚动显示样例笔记效果 增加趣味性 显示访问量评论及

      p Welcome to #{title} 
      p 未登录首页醒目大搜索加推荐笔记内容，黑系宣传页内嵌登录入口 滚动列显示笔记/论坛话题 
      p 登录进去之后可查看笔记/书籍/动态/社区/工具/用户中心等，格式参见

    hr.line
    #login-in
      p 排版在右侧显示登录 如果你需要自己网站及app技术参考请联系草垛子团队
      .index-sign-tabnavs
        a(href="#signup").active 注册
        a(href="#signin") 登陆

    #hot-info
      #hot-note-books
        p 热门笔记              我要贡献笔记(tips，如果笔记采纳会支付相应费用)
        p 推荐精彩笔记及相应书籍, 用户可提供相应技术or工程的研究笔记 通过审核后可接受一定奖励
      hr.line
      #hot-forum-post
        p 推荐热门精贴及讨论
