body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #000000;
}

#caduozi-index-not-login .line{
    margin-top: 20px;
    margin-bottom: 20px;
}
#index-custom-banner {
    position: relative;
    padding-bottom: 15px;
    text-align: center;
}
#index-header .title {
    font-size: 40px;
    text-align: center;
}
#index-header .subtitle {
    position: relative;
    font-size: 18px;
    text-align: center;
}

#index-search-form {
    padding-bottom: 30px;
    font-size: 16px;
    text-align: center;
}
#index-search-form .input-text {
    font-size:16px;
}
#index-search-form .query {
    width: 40%;
    height: 22px;
    font-size: 15px;
}
#index-search-form .submit {
    height: 24px;
    width: 40px;
    top: 2px;
    font-size:16px;
    background-color:#aaa;
    text-align: center;
}
div#login-in {
    position:relative; 
    float: right;
    margin-right:10px;
    width:300px; 
    height:400px; 
    background-color:#1a75d2; 
    overflow:hidden;
}
#login-in .index-sign-tabnavs {
    font-size: 20px;
    text-align: center;
}
#hot-info {
    float:left; 
    min-width:300px; 
    max-width:600px; 
    margin:0px; 
    padding:0px; 
    background-color:#0ffff0;
}
#footer {
    position: relative;
    padding-top:50px; 
    height:100px; 
    margin-top:-100px; 
    background-color:#ffffff; 
    clear:both; 
    text-align:center;
    clear:both;
} 


